*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:#00B8FF ;
    --text-color:#fff;
    --bg-color:#343D46;
    --big-font:3rem ;
    --h2-font:2rem;
    --p-font:0.9rem;
}

*::selection{
    background: var(--main-color);
    color: #fff ;
}

body{
    color:var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
    background-color:#65737E;
}

.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500; 
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
        font-size: 2rem;
        cursor: pointer;
        display: none;
}
section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

#register{
    background-color: #A7ADBB;
    border-radius: 10px;
}
.home-img img{
    max-width: 100%;
    width: 800px;
    border-radius: 20%;
    height: auto;
    margin-top: 80px;
    margin-left: 50px;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-user img{
    max-width: 20%;
    width: 40px;
    height: auto;
    margin-bottom: -5px;
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
    font-family:'Times New Roman', Times, serif ;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}
.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
    
}
.card-container{
    background-color: #A7ADBB;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.card{
    width: 600px;
    height: 250px;
    border-radius: 10px;
    background-color: #65737E;
    display: flex;
    align-items: center;
}
.card-img img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.card-content{
    font-family: 'Poppins', sans-serif;
    color: #A7ADBB;
    margin: auto;
    text-align: center;
    margin-bottom: 200px;
}
.icon{
    margin-top: 160px;
}
.icon a{
    color:#343D46; 
    font-size: 40px;
}
